.about-me__portfolio-item {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #E8E8E8;
}

.about-me__portfolio-item:last-of-type{
  border-bottom: 0;
  margin-bottom: 160px;
}

@media screen and (max-width: 768px) {
  .about-me__portfolio-item {
    margin-bottom: 30px;
  }
}
