.tech__tech-list {
  margin: 100px 0 0 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .tech__tech-list {
    margin: 90px 0 0 0;
  }
}
@media screen and (max-width: 320px) {
  .tech__tech-list {
    margin: 50px 0 0 0;
    max-width: 178px;
  }
}
