.movies-card-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1140px;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit,minmax(364px,1fr));
  /* grid-template-rows: repeat(2, 1fr); */
  column-gap: 24px;
  row-gap: 30px;
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .movies-card-list {
    max-width: 818px;
  }
}
@media screen and (max-width: 800px) {
  .movies-card-list {
    max-width: 400px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }
}
