.intro__bgr {
  height: 493px;
  margin: 20px 40px 0 40px;
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .intro__bgr {
    height: 834px;
    margin: 20px 20px 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .intro__bgr {
    height: 600px;
  }
}
