.intro__link {
  width: 96px;
  height: 36px;
  display: flex;
  border-radius: 10px;
  background-color: #E8E8E8;
}

@media screen and (min-width: 421px) and (max-width: 768px) {
  .intro__link {
    width: 86px;
    height: 36px;
  }
}

@media screen and (min-width: 321px) and (max-width: 420px) {
  .intro__link {
    width: 60px;
    height: 36px;
  }
}


@media screen and (max-width: 320px) {
  .intro__link {
    width: 50px;
    height: 26px;
  }
}
