.form-pattern__greeting {
  margin: 36px 0 25px 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}

@media screen and (max-width: 320px) {
  .form-pattern__greeting {
    text-align: center;
    margin: 50px auto 80px auto;
  }
}

.form-pattern__greeting_profile {
  margin: 0 auto 111px;
  text-align: center;
}

