.tech__subtitle {
  margin: 0;
  width: 460px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
}
@media screen and (max-width: 914px) {
  .tech__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 321px) {
  .tech__subtitle {
    width: 100%;
  }
}
