.tech__subtitle {
  margin: 0;
  max-width: 460px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .tech__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 420px) {
  .tech__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
