.tech__technology {
  width: 90px;
  height: 60px;
  margin: 0 auto;
  background-color: #E8E8E8;
  border-radius: 10px;
  display:flex;
}
@media screen and (max-width: 914px) {
  .tech__technology {
    width: 84px;
    height: 57px;
  }
}
@media screen and (max-width: 321px) {
  .tech__technology {
    width: 42px;
    height: 32px;
  }
}
