.footer__links {
  margin: auto 0 auto auto;
  padding: 0;
  list-style: none;
  display:flex;
}

.footer__link:last-of-type {
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .footer__links {
    flex-direction: column;
    margin: 0 auto 0 auto;  }
}

@media screen and (max-width: 600px) {
  .footer__link:last-of-type {
    margin: 12px auto 0 auto;

  }
}
