.header__nav-enter {
  width: 76px;
  height: 32px;
  margin: 0 70px 0 0;
  background-color: #000;
  border-radius: 3px;
  display: flex;
 }
 @media screen and (max-width: 321px) {
  .header__nav-enter {
    margin: 0;
  }
}
