.header__nav-enter {
  width: 76px;
  height: 32px;
  margin: 0;
  background-color: #000;
  border-radius: 3px;
  display: flex;
 }

/* @media screen and (min-width: 321px) and (max-width: 420px) {
  .header__nav-enter {
    width: 56px;
    height: 32px;
      margin: 0 70px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .header__nav-enter {
    width: 26px;
    height: 16px;
  }
} */
