.form-pattern {
  max-width: 396px;
  margin: 0 auto;
}
@media screen and (min-width: 321px) and (max-width: 420px) {
  .form-pattern {
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .form-pattern {
    max-width: 260px;
  }
}

.form-pattern__inp-err-box {
  margin-top: 2px;
  height: 12px;
}
.form-pattern__inp-err-box_hide {
  display: none;
}


