.header {
  max-width: 1280px;
  height: 74px;
  display: flex;
  margin: 0 auto;
  padding-left: 70px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 300px;
  }
}
