.form-pattern__inp {
  margin: 5px 0 0 0;
  padding: 0 0 10px 0;
  border: 0;
  border-bottom: 1px solid #E8E8E8;
  border-radius: 0;
  background-color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.9px;
  color: #000;
}

.form-pattern__inp:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

/* Настройки плейсхолдера */
/* Цвет текста */
.form-pattern__inp::-webkit-input-placeholder {color:#A0A0A0;}
.form-pattern__inp::-moz-placeholder          {color:#A0A0A0;}/* Firefox 19+ */
.form-pattern__inp:-moz-placeholder           {color:#A0A0A0;}/* Firefox 18- */
.form-pattern__inp:-ms-input-placeholder      {color:#A0A0A0;}
/* Плавное скрытие */
.form-pattern__inp::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.form-pattern__inp::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.form-pattern__inp:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.form-pattern__inp:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.form-pattern__inp:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.form-pattern__inp:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.form-pattern__inp:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.form-pattern__inp:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
