.about-project__time-container {
  display: grid;
  grid-template-columns: 228px 1fr;
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .about-project__time-container {
    grid-template-columns: 140px 1fr;
  }
}
@media screen and (max-width: 400px) {
  .about-project__time-container {
    grid-template-columns: 100px 1fr;
  }
}
@media screen and (max-width: 320px) {
  .about-project__time-container {
    margin-top: 4px;
  }
}

