.searsh-form__border {
  box-sizing: border-box;
  margin-bottom: 69px;
  height: 72px;
  padding: 19px 0 19px 0;
  background-color: #F9F9F9;
  border-radius: 9px;
  display:flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .searsh-form__border {
    flex-direction: column;
    height: 148px;
  }
}
