.headerLogin__nav-item_burger {
  margin: 0 auto 28px auto;
  text-align: center;
 }

 .headerLogin__nav-item_burger:last-of-type {
  width: 100px;
  height: 32px;
  border-radius: 16px;
  background-color: #F9F9F9;
  margin: auto auto 0 auto;
  display: flex;
  transition: .3s;
}

 .headerLogin__nav-item_burger:last-of-type:hover {
  background-color: #d1cfcf;
  transition: .3s;
 }
