.footer__year{
  margin: auto auto auto 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .footer__year{
    margin: 30px auto 0 auto;
  }
}
